##-------------------------------------------------------------
## Este archivo es usado para ignorar archivos generados por Qt
##-------------------------------------------------------------

*.a
*.moc
*.o
*.obj
*.so
Makefile*
*.prl
*.app
*.pro.user*
*.qmlproject.user*
*.autosave
*.rcc

## Archivos temporales VIM
.*.swp
*.directory

## Archivos de MinGW
*.Debug
*.Release

## Directorios a ignorar
Sipred-Release
Sipred-Debug
